extends layout

block content
		body
			main.top-content
				header
					h1 Eyðublað
		.wrapper
			form(method="post")
				label(for='sitename') Nafns síðu:	
				input#sitename(type="text", placeholder="Nafn Síðu" name="sitename" class="sitename")
				input(type="submit" class="takki" )
