extends layout

block content

  h1 Eyðublað
  form(method="post")
    input(type="text", placeholder="Nafn" name="name" class="name")
    input(type="text", placeholder="Mynd af þér" name="pf" class="pf")
    input(type="text", placeholder="Undirfyrirsögn" name="subheader" clas="subheader")
    input(type="text", placeholder="Umsögn um þig" name="Review1" class="Review")
    input(type="text", placeholder="Umsögn um þig" name="Review2" class="Review")
    input(type="text", placeholder="Netfang" name="email" class="email")
    input(type="text", placeholder="Stutt lýsing á þér" name="description" class="description")
    input(type="text", placeholder="Heimilisfang" name="adresse" class="adresse" ) 
    input(type="text", placeholder="Símanúmer" name="pn" class="pn")
    input(type="text", placeholder="Áhugamál" name="hobbie1" class="hobbie")
    input(type="text", placeholder="Nánari lýsing á áhugamáli" name="hobbieD1" class="hobbieD")
    input(type="text", placeholder="Mynd tengd áhugamáli" name="hobbieP1" class="hobbieP")
    input(type="text", placeholder="Áhugamál" name="hobbie2" class="hobbie")
    input(type="text", placeholder="Nánari lýsing á áhugamáli" name="hobbieD2" class="hobbieD")
    input(type="text", placeholder="Mynd tengd áhugamáli" name="hobbieP2" class="hobbieP")
    input(type="submit" class="takki" )
