extends layout

block content
	h1 Eyðublað
		form(method="post")
			input(type="text", placeholder="Nafn" name="name" class="name")
			input(type="text", placeholder="Notendanafn" name="username", class="username")
			input(type="text", placeholder="Mynd af þér" name="pf" class="pf")
			input(type="text", placeholder="Heimilisfang" name="adresse" class="adresse" ) 
			input(type="text", placeholder="Netfang" name="email" class="email")
			input(type="text", placeholder="Símanúmer" name="pn" class="pn")
			input(type="text", placeholder="Lykilorð" name="pw" class="pw")
			input(type="submit" class="takki" )
